<div class="container-fluid row">
    <img src="../../assets/spain.jpg" alt="image" class=" media-left pr-4 m-5 col-lg-6 col-md-6 col-sm-12">
    <div class="media-body border border-solid border-2 shadow rounded p-4 m-5 col-lg-6 col-md-6 col-sm-12">
        <div><span class="card-titel p-2 font-weight-bold">Destination: </span>Austira, Vienna</div><br>
        <div><span class="card-text p-2 font-weight-bold">Descripton: </span>Austria,German: Österreich (About this soundlisten)), officially the Republic of Austria (German: Republik Österreich, About this soundlisten (help·info)), is a landlocked East Alpine country in the southern part of Central Europe. It is composed of nine federated states (Bundesländer), one of which is Vienna, Austria's capital and its largest city. It is bordered by Germany to the northwest, Czech Republic to the north, Slovakia to the northeast, Hungary to the east, Slovenia and Italy to the south, and Switzerland and Liechtenstein to the west.</div><br>
        <div>  <span class="card-text p-2 font-weight-bold">When can you book? </span>12.3.2020, 14.4.2020, 29.4.2020, 27.5.2020, 24.6.2020</div><br>
        <div><span class="card-text p-2 font-weight-bold">Duration: </span>Our trips are always 1-week, 2-weeks, 3-weeks or one month !</div><br>
        <div><span class="card-text p-2 font-weight-bold">Price: </span> 1300€/week</div><br>
        <div class="pl-2">I am very skilled in HTML and CSS. I love Bootstrap and i will learn u a lot !</div>
    
    </div>

