<h3 class="text">Read about experiences, and share yours !</h3>

<div class="row">
<form class="col-lg-4 col-md-4 col-sm-12" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <label for="name">
        Name
      </label><br>
      <input id="name" type="text" formControlName="name">
    </div>  
    <div>
      <label for="comment">
        Your story
      </label><br>
      <input class="box" id="comment" type="text" formControlName="comment">
    </div>
    <button class="button" type="submit">Submit</button>
   </form>
</div>