<nav class="container-fluid row">
    <div class="nav nav-tabs col-10" id="nav-tab" role="tablist">
      <p class="nav-item nav-link mytext border-round" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" routerLink="/vienna">Vienna</p>
      <p class="nav-item nav-link mytext" id="nav-profile-tab" data-toggle="tab"  role="tab" aria-controls="nav-profile" routerLink="/marocco">Marocco</p>
      <p class="nav-item nav-link mytext" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" routerLink="/spain">Spain</p>
      <p class="nav-item nav-link mytext" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" routerLink="/greece">Greece</p>  
    </div>
    <div class="nav nav-tabs mypad" id="nav-tab" role="tablist">
      <p class="nav-item nav-link mytext" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" routerLink="/greece">Contact Us</p>
  </div>
  </nav>