<div class="container-fluid row">
<img src="../../assets/vienna.jpg" alt="image" class=" media-left pr-4 m-5 col-lg-6 col-md-6 col-sm-12">
<div class="media-body border border-solid border-2 shadow rounded p-4 m-5 col-lg-6 col-md-6 col-sm-12">
    <div><span class="card-titel p-2 font-weight-bold">Destination: </span>{{destination}}</div><br>
    <div><span class="card-text p-2 font-weight-bold">Descripton: </span>{{descripton}}</div><br>
    <div>  <span class="card-text p-2 font-weight-bold">When can you book? </span>{{booking}}</div><br>
    <div><span class="card-text p-2 font-weight-bold">Duration: </span>{{duration}}</div><br>
    <div><span class="card-text p-2 font-weight-bold">Price: </span>{{price}}</div><br>
    <button type="button" class="btn btn-success">Add to cart</button>

</div>